<div class="min-h-[104px] sm:min-h-[112px]"></div>
<div class="fixed inset-x-0 top-0 z-100 px-5 pt-2 pb-4 sm:px-6 lg:px-8">
  <div
    id="menu-blur"
    class="absolute opacity-0 inset-x-0 top-0 h-full single_hero_background nozoom backdrop-blur-2xl shadow-2xl"></div>
  <div class="relative max-w-[88rem] ml-auto mr-auto">
    {{ partial "header/basic.html" . }}
  </div>
</div>
{{ $backgroundBlur := resources.Get "js/background-blur.js" }}
{{ $backgroundBlur = $backgroundBlur | resources.Minify | resources.Fingerprint (.Site.Params.fingerprintAlgorithm | default "sha512") }}
<script
  type="text/javascript"
  src="{{ $backgroundBlur.RelPermalink }}"
  integrity="{{ $backgroundBlur.Data.Integrity }}"
  data-target-id="menu-blur"></script>
